:root {
  // pro mne
  --akcent-color: #d41443;
  --second-hover: #c7133e;
  --editional-color: #000000;
  --background-hover: #ecebeb;
  --main-color: #ffffff;
  // --gradient: rgba(47, 48, 58, 0.4);
  --kubik: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --basic-font: DM Sans;

  /* Шрифти */
  --main-fonts: 'DM Sans', sans-serif;
  --secondary-fonts: 'Titan One', sans-serif;
  /* Кольори фону */
  --bg-color-light-pink: #fff5f6;
  --bg-color-pink: #ffb8ca;
  --bg-color-coffee: #f0d1a5;
  --bg-color-green: #c2e297;
  --bg-color-light-grey: #fafafa;
  --bg-color-menu: #e17992;
  /* Кольори шрифтів */
  --text-color-light: #ffffff;
  --text-color-light-pink: #ffa5ba;
  --text-color-black: #000000;
  --text-color-light-grey: #ecebeb;
  --text-color-grey: #907e82;
  /* Інші кольори */
  --accent-color: #d41443;
  --accent-color-hover: #c7133e;
  --line-color-grey: #e1e1e1;
  --line-color-pink: #e18298;
  --icon-color: #fea5bb;
}
